.auth_page_banner {
  position: absolute;
  top: 88px !important;
}

.auth-btn {
  width: 425.32px;
  height: 50px;
  background: #3f51b5 !important;
  border-radius: 8px;
  margin-top: 16px !important;
  margin-left: 66px !important;
}

.field-spacing {
  margin: 24px !important;
}
.auth-head {
  font-style: normal;
  font-weight: bold;
  line-height: 37px;
  font-size: 18px;
}
h4.address-head {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
}

.offer-box {
  background: #3f51b5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  max-height: 415px;
  max-width: 100%;
}

.img-box-effect {
  background: #c4c4c4;
  box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.5);
}

.wd-dropdown-menu {
  background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
max-width: 238.77px;
}
.wd-input-pincode{
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  max-width: 457px;
}

.wd-go-btn{
  background: #2D3748 !important;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
border-radius: 8px !important;
max-width: 175px !important;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px !important;

color: #FFFFFF !important;
}

.select-box {
  margin-top: 410px !important;
  margin-left: 275px !important;
}
.pin-box{
  margin-top: 410px !important;
  margin-left: 215px !important;
}
.wd-go-btn{
  margin-top: 419px !important;
  margin-left: 250px !important;
  padding: 4px 53px!important;
}

@media only screen and (max-width: 640px)  {
  .select-box {
    margin-top: 135px !important;
    margin-left: 50px !important;
}
.pin-box {
  margin-top: 75px !important;
  margin-left: 61px !important;
}
.wd-go-btn {
  margin-top: 105px !important;
  margin-left: 125px !important;
  padding: 4px 53px!important;
}
.wd-input-pincode {
  max-width: 70%;
}
.wd-home-card{
 width:min-content !important;
}
}

.wd-home-card{
  background: #FFFFFA;
  box-shadow: 0px 3px 6px rgb(0 0 0 / 10%), 0px 4px 8px rgb(0 0 0 / 8%), 0px 1px 12px rgb(0 0 0 / 4%) !important;
  border-radius: 12px;
  margin-top: -45px;
  width:max-content;



}